/* Show it is fixed to the top */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-height:100%;
  padding-top: 4.5rem;
  padding-bottom: 20px;
  max-width: 100%;
}
.navbar {
  margin-bottom: 30px;
}
